<!-- app/templates/app/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>VK Post Stat</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>


</head>
<body>
<div class="container pt-1 pb-1 ">
    <form class="form-horizontal">
        <textarea class="form-control mt-4 mb-4" rows="8" id="input"
                  placeholder="Вставьте ссылки на посты (по одной на строку)"></textarea>
        <div class="btn-group btn-group-justified ">
            <button id="get_posts_stat" type="button" class="btn btn-info ">Собрать статистику по постам</button>
            <button id="get_like_users" type="button" class="btn btn-info ">Выгрузить лайкнувших</button>
            <button id="get_comment_users" type="button" class="btn btn-info ">Выгрузить прокомментировавших</button>
        </div>
    </form>
</div>
<div class="mx-auto pb-1" style="width: 400px; opacity: 0;" id="parsing-title">
    <img src="./static/gif/loading.gif">
    <h3>Парсим...</h3>
</div>
<div class="row mb-3" id="post-stat">
    <div class="col-1"></div>
    <div class="col-10">
        <table id="post-stat-table">
            <thead>
            <tr>
                <td>Ссылка на запись</td>
                <td> Название сообщества</td>
                <td>Ссылка на сообщество</td>
                <td> Количество подписчиков</td>
                <td>Охват записи</td>
                <td> Количество лайков</td>
                <td> Количество комментариев</td>
                <td>Скриншот</td>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="col-1"></div>
</div>

<style>
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    #parsing-title, .btn-group-justified {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    table {
        opacity: 0;
        width: 100%;
        {#border: 1px solid #e4e4e4;#}
    }

    .reveal {
        opacity: 1;
    }

    table td {
        padding: 10px;
        text-align: center;
    }

    tbody tr:hover{
        background: #e2e5e8;
        border-radius: 8px;
        box-shadow: 0 0  5px #e2e5e8;
    }
</style>


<script>
    var web_socket;

    function connect_websocket() {
        if (window.location.protocol == 'http:') {
            web_socket = new WebSocket('ws://' + window.location.host + '/ws/');
        } else {
            web_socket = new WebSocket('wss://' + window.location.host + '/ws/');
        }
    }

    function check_websocket_state() {
        console.log(web_socket)
        if (web_socket.readyState != 1) {
            web_socket.close();
            connect_websocket();
        }
    }

    connect_websocket();

    $("#get_posts_stat").on("click", function (e) {
        check_websocket_state();
        var input = $("#input").val();
        if (input.trim(' ') == '') {
            alert("Поле ввода пустое");
            return
        }
        web_socket.send(JSON.stringify(
            {
                'method': 'get_posts_stat',
                'data': input
            }
            )
        );
        $("#parsing-title").css('opacity', '1');
    });


    $("#get_like_users").on("click", function (e) {
        check_websocket_state();

        var input = $("#input").val();
        web_socket.send(JSON.stringify(
            {
                'method': 'get_like_users',
                'data': input
            }
            )
        );
    });

    $("#get_comment_users").on("click", function (e) {
        check_websocket_state();

        var input = $("#input").val();
        web_socket.send(JSON.stringify(
            {
                'method': 'get_comment_users',
                'data': input
            }
            )
        );
    });

    web_socket.onmessage = function (e) {
        console.log(e);
        var data = JSON.parse(e.data);

        if (data.method == 'new_post_stat') {
            post = data.value;
            $("table").addClass("reveal")
            $("#post-stat-table tbody").append(`<tr><td><a href="${post.post_link}" target="_blank">${post.post_link}</a></td>
                                                <td>${post.club_name}</td>
                                                <td><a href="${post.club_link}" target="_blank">${post.club_link}</a></td>
                                                <td>${post.members_amount}</td>
                                                <td>${post.views}</td>
                                                <td>${post.likes}</td>
                                                <td>${post.comments_amount}</td>
                                                <td><a href="./static/screenshots/${post.screenshot_name}" target="_blank">${post.screenshot_name}</a></td></tr>
                                                `)
        }

        if (data.method == 'report_completed') {
            var report_file_name = data.report_name;
            var archive_name = data.screenshot_archive_name;
            var files_link = 'http://' + window.location.host + '/static/files/';
            var archives_link = 'http://' + window.location.host + '/static/archives/';
            window.location.href = files_link + report_file_name;
            setTimeout(function(){
                window.location.href = archives_link + archive_name;
            }, 1000)

            $("#parsing-title").css('opacity', '0');
        }

        if(data.method == 'like_users_parsed'){
            var user_file = data.like_users_file;
            loading_link = 'http://' + window.location.host + '/static/files/' + user_file;
            window.location.href = loading_link;
        }
    };

    web_socket.onclose = function (e) {
        connect_websocket()
    };

</script>

</body>
</html>